fastapi
uvicorn
gunicorn
langchain
langchain-groq
langchain-huggingface
sentence-transformers
langchain-community
pymongo
faiss-cpu
rapidfuzz
pdfplumber
python-dotenv
pydantic
requests
gtts
streamlit
streamlit-mic-recorder
